@import '../../styles/variables.module.scss';

.container {
    margin: 2rem 0;
    padding: 2rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;

    font-family: $font-base;

    position: relative;
}

.first {
    display: flex;
    align-items: center;

    .info {
        margin-left: 2rem;

        h2 {
            font-family: $font-title;
            font-size: 1.5rem;
            font-weight: 600;
        }

        p {
            font-size: 0.9rem;
            color: $gray-title;
            margin-bottom: 0.5rem;
        }

    }
}

.bio {
    margin-top: 2rem;
    padding: 0 1rem;
}