@import '../variables.module.scss';
@import '../buttons.scss';

.addToken {
    @extend .btn;

    display: flex;
    margin: 2rem 1rem 0;

    background-color: rgb(230, 230, 230);
    color: $black-color;

    img {
        height: 20px;
        margin-left: 0.5rem;
    }

    p {
        margin: 0 0.5rem;
        font-weight: 700;
    }
}