.Market {
  max-width: 920px;
  margin: 0 auto;
}

.Market__item {
  max-width: 920px;
  margin: 0 auto;
}

.Account__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 12px 0;
}

.Account__title {
  font-size: 24px;
  font-weight: bold;
}
